%form(action="/uploadseq" enctype="multipart/form-data" method="post")
  %button(type="button" onclick="uploaddialog();")
    upload a file
  %input(type="submit" value="submit")
  %h2 sequence information

  TITLE
  %input(type="text" name="title" value="#{$keywordhash['LOCUS']}")
  %br

  -$keywordarray.each do |@j|
    .keyword(id="#{@j}")
      #{@j}
      %input(type="text" name="#{@j.downcase()}" value="#{$keywordhash[@j]}")
      %button(type="button" onclick="$('#'+'#{@j}').remove();")
        delete
      %br

  %h2 sequence annotations
  -$annotations.each do |@j|
    .upload_annotation(id="annotation_#{@j.index}")
      CAPTION
      %input(type="text" name="annotationrange_#{@j.index}" class="annotation_caption" value="#{@j.caption}")
      TYPE
      %input(type="text" name="annotationtype_#{@j.index}" class="annotation_type" value="#{@j.type}")
      RANGE
      %input(type="text" name="annotationrange_#{@j.index}" class="annotation_range" value="#{@j.range}")
      CONTENT
      %input(type="text" name="annotationdata_#{@j.index}" class="annotation_content" value="#{@j.data}")
      %button(type="button" onclick="$('#'+'annotation_#{@j.index}').remove();")
        delete
      %br

  %h2 sequence
  %input(type="textarea" name="sequence" value="#{$sequence}")
  %br

  %input(type="submit" value="submit")

#uploaddialog
  %form(action="/upload" enctype="multipart/form-data" method="post")
    %p please choose a genbank file to upload.
    %input(type="file" name="file" size="40")
    %p/
    %input(type="submit" value="Send")
