%form(action="/uploadseq" enctype="multipart/form-data" method="post")
  %button(type="button" onclick="uploaddialog();")
    upload a file
  %input(type="submit" value="submit")
  %h2 sequence information

  TITLE
  %input(type="text" name="title" value="#{$keywordhash['LOCUS']}")
  %br

  -$keywordarray.each do |j|
    .keyword(id="#{j}")
      #{j}
      %input(type="text" name="#{j.downcase()}" value="#{$keywordhash[j]}")
      %button(type="button" onclick="$('#'+'#{j}').remove();")
        delete
      %br

  SEQUENCE STATUS:
  %select(name="status")
    %option(value="temporary")
      temporary
    %option(value="virtual")
      virtual
    %option(value="finalized")
      finalized
    %option(value="provisional")
      provisional
    %option(value="verified")
      verified
    %option(value="functional")
      functional
    %option(value="commercial")
      commercial
    %option(value="canonical")
      canonical
  %a(href="")
    ?

  %h2 sequence annotations
  -$annotations.each do |j|
    .upload_annotation(id="annotation#{j.index}")
      CAPTION
      %input(type="text" name="annotation#{j.index}_caption" class="annotation_caption" value="#{j.caption}")
      TYPE
      %input(type="text" name="annotation#{j.index}_type" class="annotation_type" value="#{j.type}")
      DOMAIN
      %input(type="text" name="annotation#{j.index}_domain" class="annotation_domain" value="#{j.domain}")
      %br
      -j.datahash.each do |key, value|
        #{key}
        %input(type="text" name="annotation#{j.index}_data_#{key}" class="annotation_data" value="#{value}")
      %br
      %button(type="button" onclick="$('#'+'annotation#{j.index}').remove();")
        delete
      %br

  %h2 sequence
  %input(type="textarea" name="sequence" value="#{$sequence}")
  %br

  %input(type="submit" value="submit")

#uploaddialog
  %form(action="/upload" enctype="multipart/form-data" method="post")
    %p please choose a genbank file to upload.
    %input(type="file" name="file" size="40")
    %p/
    %input(type="submit" value="Send")
